
{% extends 'base.html' %}

{% block content%}

<h1>Dragon Details</h1>



<div class="card">
    <div class="card-content">
        <span class="card-title">{{ dragon.name }}</span>
        <p>Breed: {{ dragon.breed }} </p>
        <p>Description: {{ dragon.description }} </p>
        {% if dragon.age > 0 %}
            <p>Age: {{ dragon.age }}</p>
        {% else %}
            <p>Age: Kitten</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'dragons_update' dragon.id %}">Edit</a>
        <a href="{% url 'dragons_delete' dragon.id %}">Delete</a>
    </div>
</div>





{% endblock %}