{% extends 'base.html' %}
{% block content%}

<h1>Dragon Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ dragon.name }}</span>
        <p>Breed: {{ dragon.breed }} </p>
        <p>Description: {{ dragon.description }} </p>
        {% if dragon.age > 0 %}
            <p>Age: {{ dragon.age }}</p>
        {% else %}
            <p>Age: Baby Dragon</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'dragons_update' dragon.id %}">Edit</a>
        <a href="{% url 'dragons_delete' dragon.id %}">Delete</a>
      </div>
    </div>

    <!-- Display the dragon photos-->
    {% for photo in dragon.photo_set.all %}
      <img src="{{ photo.url }}" alt="{{ photo.url }}" class="responsive-img card-panel">
    {% empty %}
      <div class="card-panel teal-text center-align">
        No Photos Uploaded
      </div>
    {% endfor %}

    <!-- Add photo form-->
    <form 
      action="{% url 'add_photo' dragon.id %}"
      enctype="multipart/form-data"
      method="POST"
      class="card-panel">
      {% csrf_token %}

      <input type="file" name="photo_file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
    </form>



  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' dragon.id %}" method="POST">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add feeding" />
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dragon.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ dragon.name }}'s Toys:</h3>
    {% if dragon.toys.count %}
      {% for toy in dragon.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">
              {{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No toys :(</h5>
      <p>Go add some now!</p>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Toys</h3>
    {% if available_toys.count %}
      {% for toy in available_toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ toy.color }}">
                {{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>

          <div class="card-action">
            <form action="{% url 'assoc_toy' dragon.id toy.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <h5>{{ dragon.name }} already has all toys available</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_meal')
  M.FormSelect.init(selectEl)
</script>

{% endblock %}